.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.black-nav {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: left;
}

.black-nav h4 {
  margin: 0;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #000;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  text-align: left;
  background-color: #eee;
}
